
.Input {
  border-radius: 4px;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-400);
  padding: 0.75rem;
  font-size: 0.87rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.25px;
  
  &:focus {
    outline: none;
    border: 1px solid var(--neutral-600);
  }
}