.Divider {
  &[data-orientation="horizontal"] {
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
  }

  &[data-orientation="vertical"] {
    width: 1px;
    height: 100%;
    background-color: #e8e8e8;
  }
}