.Header {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 1116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderUserTrigger {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  border: 1px solid #B6E3EB;
}