.Navbar {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.NavbarItem {
  font-size: 1rem;
  padding: 0.5em 0;
  cursor: pointer;
  line-height: 1.25rem;
  color: #a9acb1;

  &:hover,
  &[data-active="true"] {
    text-decoration: underline;
    color: #297891;
    text-underline-offset: 0.5em;
  }
}
