.Avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 168, 83, 0.08);
  color: #10623E;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
