.ApplicationForm {
  width: 100%;
}

.ApplicationFormHeaderContainer {
  background-image: url("/assets/images/dashboard-banner-bg.svg");
  background-position: center;
  background-size: cover;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
}

.ApplicationFormHeader {
  max-width: 1116px;
  margin: 0 auto;
}

.ApplicationFormContentContainer {
  max-width: 1116px;
  margin: -1.5rem auto 0 auto;
  padding: 0.5rem;
}

.Form {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.04);
}

.FormNav {
  background-color: #eff8f1;
}