@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* // Text colors */
  --text-basic: #1c1d1f;
  --text-alternative: #ffffff;
  --text-primary: #1a73e9;
  --text-hint: #7e838b;
  --text-disabled: #b4b6bb;

  /* // Success colors  */
  --success: #34a853;
  --success-100: #dcfad8;
  --success-200: #b3f6b1;
  --success-300: #86e48c;
  --success-400: #62ca73;
  --success-500: #34a853;
  --success-600: #27904d;
  --success-700: #1a7844;
  --success-800: #10623e;
  --success-900: #085038;

  /* // Primary colors */
  --primary: #1672d5;
  --primary-100: #d1ecfd;
  --primary-200: #a1d5fc;
  --primary-300: #73b8f9;
  --primary-400: #509cf0;
  --primary-500: #1672d5;
  --primary-600: #1359c8;
  --primary-700: #0d43a7;
  --primary-800: #092e86;
  --primary-900: #05206f;

  /* // Info colors */
  --info: #00aaff;
  --info-100: #cbfbff;
  --info-200: #99f1ff;
  --info-300: #65e0ff;
  --info-400: #3fcdff;
  --info-500: #00aaff;
  --info-600: #0083db;
  --info-700: #0063b8;
  --info-800: #014691;
  --info-900: #003279;

  /* // Neutral colors */
  --neutral: #a9acb1;
  --neutral-100: #ffffff;
  --neutral-200: #f4f5f5;
  --neutral-300: #dfe0e2;
  --neutral-400: #bfc1c5;
  --neutral-500: #a9acb1;
  --neutral-600: #94979e;
  --neutral-700: #7e838b;
  --neutral-800: #61646b;
  --neutral-900: #4e5056;
  --neutral-1000: #313033;
  --neutral-1100: #1c1d1f;
  --neutral-1200: #000000;

  /* // Secondary colors */
  --secondary: #5a6370;
  --secondary-100: #f0f0f0;
  --secondary-200: #d8dbdf;
  --secondary-300: #bec4cc;
  --secondary-400: #a3acb8;
  --secondary-500: #8e99a8;
  --secondary-600: #6b7787;
  --secondary-700: #5a6370;
  --secondary-800: #4a505a;
  --secondary-900: #363b42;

  /* Teal */
  --teal-50: #F0FBFB;
  --teal-600: #297991;
  --teal-800: #285162;
  --teal-500: #319CB5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "noto-sans", sans-serif;
}