.UserMenu {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid #DFE0E2;
  border-radius: 8px;
  background-color: #fff;
}

.UserMenuHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}